
### BACKEND PORT

PORT = 

### EMAIL CREDENTIALS

SENDER_EMAIL =
SENDER_EMAIL_PASSWORD = 
CC_EMAIL=
BCC_EMAIL=

### DATABASE CREDENTIALS

DATABASE_USER =
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

### API KEYS

OPENAI_API_KEY=
ANTHROPIC_API_KEY=



### DATABASE CONNECTION STRING

DATABASE_URL = 

### SECURITY KEYS

JWT_SECRET_KEY=
JWT_TOKEN =
SECRET_KEY = 