/* .upload-container {
  background: #fff;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 400px;
  font-family: Arial, sans-serif;
} */

.custom-file-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--main-auth-button-color);
  border-width: 1.5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s;
  width: 100%;
  font-size: 16px;
  height: 40px;
  color: var(--main-auth-button-color);
  font-weight: 500;
  margin-top: 8px;
}

.upload-container--disabled {
  cursor: not-allowed;
}

.upload-container--disabled .custom-file-button {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.upload_icon{
color: var(--main-auth-button-color);
stroke-width: 2.5;
margin-right: 0.5em;

}

/* .custom-file-button:hover {
  background-color: var(--main-auth-button-color);
  color: white;
} */

.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-list li {
background: #e9f3ff;
  padding: 3px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 5px 0 0 0;
}

.file-list li .remove-btn {
  color: #ff4d4d;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
