.preview-container {
  max-width: 900px;
  margin: 20px auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border: 1px solid #e5e5e5; */
}




.preview-title {
  margin: 10px 0 10px 10px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
}

.preview-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
}


.preview-table td {
  border: 0.6px solid #e5e5e5;
  /* padding: 8px; */
}

.preview-label {
  padding: 10px;
  font-weight: 500;
  /* background: #f3f3f3; */
  width: 35%;
  vertical-align: top;
}

.preview-value {
  padding: 10px;
  /* border: 0.6px solid #e5e5e5; */

}

/* ---------- Nested Table ---------- */

.preview-nested-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 6px;
}

.preview-nested-key {
  padding: 6px 8px;
  font-weight: 500;
  /* border: 1px solid #ddd; */
  /* background: #fafafa; */
  width: 30%;
  vertical-align: top;
}

.preview-nested-value {
  padding: 6px 8px;
  /* border: 1px solid #ddd; */
}

.preview-value a {
    color: blue;
}
